.pair {
    width: 113px !important;
}

.attribute-values select {
    width: 320px !important;
}

.attribute-display-name {
    width: 300px;
}

.attribute-values {
    width: 40%;
}

input[type="text"] {
    width: 300px;
}

.attribute-is-enabled {
    width: 20px;
}
