use openiam;

IF NOT EXISTS (SELECT * FROM information_schema.columns WHERE table_catalog='openiam' AND table_name = 'USERS' AND column_name = 'CLAIM_DATE') 
BEGIN
	ALTER TABLE USERS ADD CLAIM_DATE DATE NULL;
END;

ALTER TABLE USERS ALTER COLUMN MAIL_CODE NVARCHAR(100) NULL;
ALTER TABLE USERS ADD DEFAULT 'NULL' FOR MAIL_CODE;

delete from LANGUAGE_LOCALE where LANGUAGE_ID='9';
delete from LANGUAGE_MAPPING where LANGUAGE_ID='9';
delete from LANGUAGE_MAPPING where LANGUAGE_ID in ('1','4','2','8') AND REFERENCE_ID='9' AND REFERENCE_TYPE like 'Language%';
delete from LANGUAGE where ID='9';

INSERT INTO LANGUAGE (ID, LANGUAGE, IS_USED, LANGUAGE_CODE, IS_DEFAULT) VALUES ('9', 'Japanese', 'Y', 'ja', 'N');
INSERT INTO LANGUAGE_LOCALE (ID, LANGUAGE_ID, LOCALE) VALUES ('12', '9', 'ja_JP');

INSERT INTO LANGUAGE_MAPPING (ID,LANGUAGE_ID,REFERENCE_ID,REFERENCE_TYPE,TEXT_VALUE) VALUES ('JPLanguageEntity1','9','1','LanguageEntity.displayNameMap','英語');
INSERT INTO LANGUAGE_MAPPING (ID,LANGUAGE_ID,REFERENCE_ID,REFERENCE_TYPE,TEXT_VALUE) VALUES ('JPElementMigrate101','9','101','MetadataElementEntity.languageMap','表示名');
INSERT INTO LANGUAGE_MAPPING (ID,LANGUAGE_ID,REFERENCE_ID,REFERENCE_TYPE,TEXT_VALUE) VALUES ('JPElementMigrate104','9','104','MetadataElementEntity.languageMap','優先言語');


IF OBJECT_ID('SYNCH_REVIEW_RECORD_VALUE', 'U') IS NOT NULL
	DROP TABLE SYNCH_REVIEW_RECORD_VALUE;
	
IF OBJECT_ID('SYNCH_REVIEW_RECORD', 'U') IS NOT NULL
	DROP TABLE SYNCH_REVIEW_RECORD;
	
IF OBJECT_ID('SYNCH_REVIEW', 'U') IS NOT NULL
	DROP TABLE SYNCH_REVIEW;
	

CREATE TABLE SYNCH_REVIEW (
	SYNCH_REVIEW_ID NVARCHAR(32) NOT NULL,
	SYNCH_CONFIG_ID NVARCHAR(32) NOT NULL,
	SRC_REJECTED NVARCHAR(1) NOT NULL DEFAULT 'N',
	SKIP_SRC_VALID NVARCHAR(1) NOT NULL DEFAULT 'N',
	SKIP_REC_VALID NVARCHAR(1) NOT NULL DEFAULT 'N',
	CREATE_TIME DATETIME NOT NULL,
	MODIFY_TIME DATETIME NULL,
	EXEC_TIME DATETIME NULL,
	PRIMARY KEY (SYNCH_REVIEW_ID),
	CONSTRAINT SYNCH_CONFIG_FK FOREIGN KEY (SYNCH_CONFIG_ID) REFERENCES SYNCH_CONFIG(SYNCH_CONFIG_ID) ON DELETE CASCADE);

CREATE TABLE SYNCH_REVIEW_RECORD (
	SYNCH_REVIEW_RECORD_ID NVARCHAR(32) NOT NULL,
	SYNCH_REVIEW_ID NVARCHAR(32) NOT NULL,
	HEADER NVARCHAR(1) NOT NULL DEFAULT 'N',
	PRIMARY KEY (SYNCH_REVIEW_RECORD_ID),
	CONSTRAINT SYNCH_REVIEW_FK FOREIGN KEY (SYNCH_REVIEW_ID) REFERENCES SYNCH_REVIEW(SYNCH_REVIEW_ID) ON DELETE CASCADE);

CREATE TABLE SYNCH_REVIEW_RECORD_VALUE (
	SYNCH_REVIEW_RECORD_VALUE_ID NVARCHAR(32) NOT NULL,
	SYNCH_REVIEW_RECORD_ID NVARCHAR(32) NOT NULL,
	VALUE NVARCHAR(MAX) NULL,
	PRIMARY KEY (SYNCH_REVIEW_RECORD_VALUE_ID),
	CONSTRAINT SYNCH_REVIEW_RECORD_FK FOREIGN KEY (SYNCH_REVIEW_RECORD_ID) REFERENCES SYNCH_REVIEW_RECORD(SYNCH_REVIEW_RECORD_ID) ON DELETE CASCADE);

CREATE INDEX SYNCH_CONFIG_IDX ON SYNCH_REVIEW(SYNCH_CONFIG_ID);
CREATE INDEX SYNCH_REVIEW_IDX ON SYNCH_REVIEW_RECORD(SYNCH_REVIEW_ID);
CREATE INDEX SYNCH_REVIEW_RECORD_IDX ON SYNCH_REVIEW_RECORD_VALUE(SYNCH_REVIEW_RECORD_ID);

DELETE FROM RESOURCE_GROUP WHERE RESOURCE_ID = 'SYNCUSER_REVIEW';
DELETE FROM RESOURCE_USER WHERE RESOURCE_ID = 'SYNCUSER_REVIEW';
DELETE FROM RESOURCE_ROLE WHERE RESOURCE_ID = 'SYNCUSER_REVIEW';
DELETE FROM RESOURCE_PROP WHERE RESOURCE_ID = 'SYNCUSER_REVIEW';
DELETE FROM res_to_res_membership WHERE MEMBER_RESOURCE_ID = 'SYNCUSER_REVIEW';
DELETE FROM RES WHERE RESOURCE_ID = 'SYNCUSER_REVIEW';
DELETE FROM LANGUAGE_MAPPING WHERE REFERENCE_ID='SYNCUSER_REVIEW';

INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, DESCRIPTION, DISPLAY_ORDER, IS_PUBLIC, URL) VALUES('SYNCUSER_REVIEW', 'MENU_ITEM', 'SYNCUSER_REVIEW', 'Synchronization Review', 10, 'N', '/webconsole-idm/provisioning/synchReviewList.html');

INSERT INTO RESOURCE_PROP (RESOURCE_PROP_ID, RESOURCE_ID, NAME, ATTR_VALUE) VALUES ('SYNCUSER_REVIEW_PUB', 'SYNCUSER_REVIEW', 'MENU_IS_PUBLIC', 'true');
INSERT INTO RESOURCE_PROP (RESOURCE_PROP_ID, RESOURCE_ID, NAME, ATTR_VALUE) VALUES ('SYNCUSER_REVIEW_DESC', 'SYNCUSER_REVIEW', 'MENU_DISPLAY_NAME', 'Synchronization Review');

INSERT INTO res_to_res_membership (RESOURCE_ID, MEMBER_RESOURCE_ID) VALUES('SYNCUSER_EDIT_MENU_ROOT', 'SYNCUSER_REVIEW');



IF EXISTS (SELECT * FROM ROLE WHERE ROLE_ID='9') 
BEGIN
	IF NOT EXISTS (SELECT * FROM RESOURCE_ROLE WHERE ROLE_ID='9' and RESOURCE_ID='SYNCUSER_REVIEW') 
	BEGIN
		INSERT INTO RESOURCE_ROLE (ROLE_ID, RESOURCE_ID) VALUES('9', 'SYNCUSER_REVIEW');
	END;
END;


IF NOT EXISTS (SELECT * FROM LANGUAGE_MAPPING WHERE REFERENCE_ID='SYNCUSER_REVIEW') 
BEGIN
	INSERT INTO LANGUAGE_MAPPING(ID, LANGUAGE_ID, REFERENCE_TYPE, REFERENCE_ID, TEXT_VALUE) VALUES('SYNCUSER_REVIEW_DESC', '1', 'ResourceEntity.displayNameMap', 'SYNCUSER_REVIEW', 'Synchronization Review');
END;

DELETE FROM AUTH_ATTRIBUTE WHERE PROVIDER_TYPE IN('SAML_SP_PROVIDER');
DELETE FROM AUTH_PROVIDER_TYPE WHERE PROVIDER_TYPE IN('SAML_SP_PROVIDER');

INSERT INTO AUTH_PROVIDER_TYPE (PROVIDER_TYPE, DESCRIPTION, ACTIVE) VALUES('SAML_SP_PROVIDER', 'SAML Service Provider', 'Y');
UPDATE AUTH_PROVIDER_TYPE SET DESCRIPTION='SAML IDP Provider' WHERE PROVIDER_TYPE='SAML_PROVIDER';


INSERT INTO AUTH_ATTRIBUTE (AUTH_ATTRIBUTE_ID, ATTRIBUTE_NAME, PROVIDER_TYPE, DESCRIPTION, REQUIRED, DATA_TYPE)
	VALUES('SamlSPLoginURL', 'Sign-in page URL', 'SAML_SP_PROVIDER', 'URL for signing in to your system', 'Y', 'singleValue');
	

INSERT INTO AUTH_ATTRIBUTE (AUTH_ATTRIBUTE_ID, ATTRIBUTE_NAME, PROVIDER_TYPE, DESCRIPTION, REQUIRED, DATA_TYPE)
	VALUES('SamlSPLogoutURL', 'Sign-out page URL', 'SAML_SP_PROVIDER', 'URL to redirect users to when they sign out', 'Y', 'singleValue');
	

INSERT INTO AUTH_ATTRIBUTE (AUTH_ATTRIBUTE_ID, ATTRIBUTE_NAME, PROVIDER_TYPE, DESCRIPTION, REQUIRED, DATA_TYPE)
	VALUES('SamlSPIssuerName', 'SAML Issuer Name', 'SAML_SP_PROVIDER', 'The Issuer to use.  This will be the Request Issuer in the IDP', 'Y', 'singleValue');
	
ALTER TABLE AUTH_PROVIDER_TYPE ADD HAS_PUBLIC_KEY CHAR(1) NOT NULL DEFAULT 'Y';
ALTER TABLE AUTH_PROVIDER_TYPE ADD HAS_PRIVATE_KEY CHAR(1) NOT NULL DEFAULT 'Y';

GO
UPDATE AUTH_PROVIDER_TYPE SET HAS_PRIVATE_KEY='N' WHERE PROVIDER_TYPE='SAML_SP_PROVIDER';

ALTER TABLE RECONCILIATION_CONFIG ADD RECON_CUSTOM_PROCESSOR VARCHAR(255);
ALTER TABLE RECONCILIATION_CONFIG ADD RECON_TYPE VARCHAR(32) NOT NULL DEFAULT 'USER';

ALTER TABLE AUTH_STATE DROP FK_AUTH_STATE_USERS;

DECLARE @table NVARCHAR(512), @sql NVARCHAR(MAX);
SELECT @table = 'AUTH_STATE';
SELECT @sql = 'ALTER TABLE ' + @table 
	+ ' DROP CONSTRAINT ' + name + ';'
	FROM sys.key_constraints
	WHERE [type] = 'PK'
	AND [parent_object_id] = OBJECT_ID(@table);
EXEC sp_executeSQL @sql;
	

ALTER TABLE AUTH_STATE ADD TOKEN_TYPE NVARCHAR(32);

GO
UPDATE AUTH_STATE SET TOKEN_TYPE='OPENIAM';
GO
ALTER TABLE AUTH_STATE ALTER COLUMN TOKEN_TYPE NVARCHAR(32) NOT NULL; 

GO
ALTER TABLE AUTH_STATE ADD PRIMARY KEY(USER_ID, TOKEN_TYPE);


IF OBJECT_ID ( 'SETUP_CONTENT_PROVIDERS', 'P' ) IS NOT NULL 
    DROP PROCEDURE SETUP_CONTENT_PROVIDERS;
GO
CREATE PROCEDURE SETUP_CONTENT_PROVIDERS
	@cpDomain NVARCHAR(255), 
	@serverDomain NVARCHAR(255)
AS
	IF NOT EXISTS (SELECT * FROM CONTENT_PROVIDER) 
	BEGIN
 			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC, URL) VALUES('DEFAULT_CP', 'CONTENT_PROVIDER', 'Default Content Provider', 'Y',  'http://' + @cpDomain + '/selfservice');
			INSERT INTO CONTENT_PROVIDER (CONTENT_PROVIDER_ID, CONTENT_PROVIDER_NAME, IS_PUBLIC, DOMAIN_PATTERN, IS_SSL, RESOURCE_ID, MANAGED_SYS_ID) 
								   VALUES('DEFAULT_CP', 'Default Content Provider', 'Y', @cpDomain, NULL, 'DEFAULT_CP', '0');
			INSERT INTO CP_AUTH_LEVEL_GRP_XREF (CONTENT_PROVIDER_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES ('DEFAULT_CP', 'PASSWORD_AUTH', 0);
			INSERT INTO CONTENT_PROVIDER_SERVER (CONTENT_PROVIDER_SERVER_ID, CONTENT_PROVIDER_ID, SERVER_URL) VALUES ('DEFAULT_CP', 'DEFAULT_CP', @serverDomain);					   
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('DEF_CP_SELSERVICE_SLASH', 'URL_PATTERN', 'Default Content Provider /selfservice/*', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('DEF_CP_SELSERVICE_SLASH', 'DEFAULT_CP', '/selfservice/*', 'Y', 'DEF_CP_SELSERVICE_SLASH');
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('DEF_CP_WEBCONSOLE_AM_SLASH', 'URL_PATTERN', 'Default Content Provider /webconsole-am/*', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('DEF_CP_WEBCONSOLE_AM_SLASH', 'DEFAULT_CP', '/webconsole-am/*', 'Y', 'DEF_CP_WEBCONSOLE_AM_SLASH');
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('DEF_CP_WEBCONSOLE_IDM_SLASH', 'URL_PATTERN', 'Default Content Provider /webconsole-idm/*', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('DEF_CP_WEBCONSOLE_IDM_SLASH', 'DEFAULT_CP', '/webconsole-idm/*', 'Y', 'DEF_CP_WEBCONSOLE_IDM_SLASH');
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('DEF_CP_WEBCONSOLE_SLASH', 'URL_PATTERN', 'Default Content Provider /webconsole/*', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('DEF_CP_WEBCONSOLE_SLASH', 'DEFAULT_CP', '/webconsole/*', 'Y', 'DEF_CP_WEBCONSOLE_SLASH');
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('NEW_USER_TEMPLATE', 'UI_TEMPLATE', 'New User Template', 'Y');
			INSERT INTO METADATA_ELEMENT_PAGE_TEMPLATE (ID, NAME, RESOURCE_ID, IS_PUBLIC, TEMPLATE_TYPE_ID) VALUES('NEW_USER_TEMPLATE', 'New User Template', 'NEW_USER_TEMPLATE', 'Y', 'USER_TEMPLATE');
			INSERT INTO METADATA_URI_XREF (TEMPLATE_ID, URI_PATTERN_ID) VALUES('NEW_USER_TEMPLATE', 'DEF_CP_SELSERVICE_SLASH');
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('SELFREG_PATTERN', 'URL_PATTERN', 'Default Content Provider /selfservice/selfRegistration.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('SELFREG_PATTERN', 'DEFAULT_CP', '/selfservice/selfRegistration.html', 'Y', 'SELFREG_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('SELFREG_PATTERN', 'NONE', 0);
			INSERT INTO METADATA_URI_XREF (TEMPLATE_ID, URI_PATTERN_ID) VALUES('NEW_USER_TEMPLATE', 'SELFREG_PATTERN');
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('UI_STATIC', 'URL_PATTERN', 'Default Content Provider /openiam-ui-static/*', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('UI_STATIC', 'DEFAULT_CP', '/openiam-ui-static/*', 'Y', 'UI_STATIC');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('UI_STATIC', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('CHANGE_PASSWORD', 'URL_PATTERN', 'Default Content Provider /idp/changePassword.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('CHANGE_PASSWORD', 'DEFAULT_CP', '/idp/changePassword.html', 'Y', 'CHANGE_PASSWORD');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('CHANGE_PASSWORD', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('UNLOCK_PASSWORD', 'URL_PATTERN', 'Default Content Provider /idp/unlockPassword.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('UNLOCK_PASSWORD', 'DEFAULT_CP', '/idp/unlockPassword.html', 'Y', 'UNLOCK_PASSWORD');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('UNLOCK_PASSWORD', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('LOGOUT_PATTERN', 'URL_PATTERN', 'Default Content Provider /idp/logout.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('LOGOUT_PATTERN', 'DEFAULT_CP', '/idp/logout.html', 'Y', 'LOGOUT_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('LOGOUT_PATTERN', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('SAML_LOGIN_PATTERN', 'URL_PATTERN', 'Default Content Provider /idp/SAMLLogin.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('SAML_LOGIN_PATTERN', 'DEFAULT_CP', '/idp/SAMLLogin.html', 'Y', 'SAML_LOGIN_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('SAML_LOGIN_PATTERN', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('SAML_METADATA_PATTERN', 'URL_PATTERN', 'Default Content Provider /idp/SAMLMetadata.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('SAML_METADATA_PATTERN', 'DEFAULT_CP', '/idp/SAMLMetadata.html', 'Y', 'SAML_METADATA_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('SAML_METADATA_PATTERN', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('UNLOCK_PASSWORD_QUESTIONS', 'URL_PATTERN', 'Default Content Provider /idp/unlockPasswordQuestions.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('UNLOCK_PASSWORD_QUESTIONS', 'DEFAULT_CP', '/idp/unlockPasswordQuestions.html', 'Y', 'UNLOCK_PASSWORD_QUESTIONS');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('UNLOCK_PASSWORD_QUESTIONS', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('UNLOCK_USER_RESET_FORM', 'URL_PATTERN', 'Default Content Provider /idp/unlockUserResetPasswordForm.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('UNLOCK_USER_RESET_FORM', 'DEFAULT_CP', '/idp/unlockUserResetPasswordForm.html', 'Y', 'UNLOCK_USER_RESET_FORM');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('UNLOCK_USER_RESET_FORM', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('WEBCONSOLE_CLEAR_CNTX', 'URL_PATTERN', 'Default Content Provider /webconsole/clearContext.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('WEBCONSOLE_CLEAR_CNTX', 'DEFAULT_CP', '/webconsole/clearContext.html', 'Y', 'WEBCONSOLE_CLEAR_CNTX');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('WEBCONSOLE_CLEAR_CNTX', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('WEBCONSOLE_AM_CLEAR_CNTX', 'URL_PATTERN', 'Default Content Provider /webconsole-am/clearContext.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('WEBCONSOLE_AM_CLEAR_CNTX', 'DEFAULT_CP', '/webconsole-am/clearContext.html', 'Y', 'WEBCONSOLE_AM_CLEAR_CNTX');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('WEBCONSOLE_AM_CLEAR_CNTX', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('WEBCONSOLE_IDM_CLEAR_CNTX', 'URL_PATTERN', 'Default Content Provider /webconsole-idm/clearContext.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('WEBCONSOLE_IDM_CLEAR_CNTX', 'DEFAULT_CP', '/webconsole-idm/clearContext.html', 'Y', 'WEBCONSOLE_IDM_CLEAR_CNTX');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('WEBCONSOLE_IDM_CLEAR_CNTX', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('SELFSERVICE_CLEAR_CNTX', 'URL_PATTERN', 'Default Content Provider /selfservice/clearContext.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('SELFSERVICE_CLEAR_CNTX', 'DEFAULT_CP', '/selfservice/clearContext.html', 'Y', 'SELFSERVICE_CLEAR_CNTX');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('SELFSERVICE_CLEAR_CNTX', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('SELFSERVICE_EXT_CLEAR_CNTX', 'URL_PATTERN', 'Default Content Provider /selfservice-ext/clearContext.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('SELFSERVICE_EXT_CLEAR_CNTX', 'DEFAULT_CP', '/selfservice-ext/clearContext.html', 'Y', 'SELFSERVICE_EXT_CLEAR_CNTX');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('SELFSERVICE_EXT_CLEAR_CNTX', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('SEARCH_ORG_PATTERN', 'URL_PATTERN', 'Default Content Provider /selfservice/rest/api/entitlements/searchOrganizations', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('SEARCH_ORG_PATTERN', 'DEFAULT_CP', '/selfservice/rest/api/entitlements/searchOrganizations', 'Y', 'SEARCH_ORG_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('SEARCH_ORG_PATTERN', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('REPORTVIEWER_PATTERN', 'URL_PATTERN', 'Default Content Provider /reportviewer/*', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('REPORTVIEWER_PATTERN', 'DEFAULT_CP', '/reportviewer/*', 'Y', 'REPORTVIEWER_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('REPORTVIEWER_PATTERN', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('LANGUAGE_SUPPORT_PATTERN', 'URL_PATTERN', 'Default Content Provider /selfservice/language/languageSupport.html', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('LANGUAGE_SUPPORT_PATTERN', 'DEFAULT_CP', '/selfservice/language/languageSupport.html', 'Y', 'LANGUAGE_SUPPORT_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('LANGUAGE_SUPPORT_PATTERN', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('ROLE_METADATA_PATTERN', 'URL_PATTERN', 'Default Content Provider /selfservice/rest/api/metadata/roleMetadata', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('ROLE_METADATA_PATTERN', 'DEFAULT_CP', '/selfservice/rest/api/metadata/roleMetadata', 'Y', 'ROLE_METADATA_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('ROLE_METADATA_PATTERN', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('SEARCH_ROLES_PATTERN', 'URL_PATTERN', 'Default Content Provider /selfservice/rest/api/entitlements/searchRoles', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('SEARCH_ROLES_PATTERN', 'DEFAULT_CP', '/selfservice/rest/api/entitlements/searchRoles', 'Y', 'SEARCH_ROLES_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('SEARCH_ROLES_PATTERN', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('GROUP_METADATA_PATTERN', 'URL_PATTERN', 'Default Content Provider /selfservice/rest/api/metadata/groupMetadata', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('GROUP_METADATA_PATTERN', 'DEFAULT_CP', '/selfservice/rest/api/metadata/groupMetadata', 'Y', 'GROUP_METADATA_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('GROUP_METADATA_PATTERN', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('SEARCH_GROUPS_PATTERN', 'URL_PATTERN', 'Default Content Provider /selfservice/rest/api/entitlements/searchGroups', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('SEARCH_GROUPS_PATTERN', 'DEFAULT_CP', '/selfservice/rest/api/entitlements/searchGroups', 'Y', 'SEARCH_GROUPS_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('SEARCH_GROUPS_PATTERN', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('ORG_METADATA_PATTERN', 'URL_PATTERN', 'Default Content Provider /selfservice/rest/api/metadata/organizationMetadata', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('ORG_METADATA_PATTERN', 'DEFAULT_CP', '/selfservice/rest/api/metadata/organizationMetadata', 'Y', 'ORG_METADATA_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('ORG_METADATA_PATTERN', 'NONE', 0);
			
			INSERT INTO RES (RESOURCE_ID, RESOURCE_TYPE_ID, NAME, IS_PUBLIC) VALUES('SP_PATTERN', 'URL_PATTERN', 'Default Content Provider /idp/sp/*', 'Y');
			INSERT INTO URI_PATTERN (URI_PATTERN_ID, CONTENT_PROVIDER_ID, PATTERN, IS_PUBLIC, RESOURCE_ID) VALUES('SP_PATTERN', 'DEFAULT_CP', '/idp/sp/*', 'Y', 'SP_PATTERN');
			INSERT INTO URI_AUTH_LEVEL_GRP_XREF (URI_PATTERN_ID, AUTH_LEVEL_GROUPING_ID, EXEC_ORDER) VALUES('SP_PATTERN', 'NONE', 0);

	END;
GO

UPDATE POLICY SET RULE_SRC_URL ='provision/ad/isEnabled.groovy' WHERE POLICY_ID = '4547';

UPDATE RES SET URL='/webconsole/newUser.html' WHERE RESOURCE_ID='NEW_USER';

ALTER TABLE CONTENT_PROVIDER ADD SHOW_ON_APP_PAGE CHAR(1) NOT NULL DEFAULT 'Y';

ALTER TABLE RECONCILIATION_CONFIG ADD NAME NVARCHAR(40);
UPDATE RES SET URL='/webconsole/reconciliations.html' WHERE RESOURCE_ID = 'RESRECONCILE';


IF EXISTS (SELECT * FROM ROLE WHERE ROLE_ID='2') 
BEGIN
	DELETE FROM RESOURCE_ROLE WHERE RESOURCE_ID IN ('USER_EDIT_MENU', 'SUP_SUB_PAGE', 'USER_ATTRIBUTES', 'USER_EDIT_CONTACT_INFO', 'USER_EDIT_INFO', 'USER_ENTITLEMENTS', 'USER_HISTORY', 'USER_IDENTITY', 'USER_SEARCH') AND ROLE_ID = '2';
	INSERT INTO RESOURCE_ROLE (RESOURCE_ID, ROLE_ID) VALUES ('USER_EDIT_MENU', '2'), ('SUP_SUB_PAGE', '2'), ('USER_ATTRIBUTES', '2'), ('USER_EDIT_CONTACT_INFO', '2'), ('USER_EDIT_INFO', '2'), ('USER_ENTITLEMENTS', '2'), ('USER_HISTORY', '2'), ('USER_IDENTITY', '2'), ('USER_SEARCH', '2');
END;

ALTER TABLE RECONCILIATION_SITUATION ADD CUSTOM_COMMAND_SCRIPT NVARCHAR(255) NULL DEFAULT NULL; 

ALTER TABLE RES ADD COORELATED_NAME VARCHAR(250) NULL;


IF OBJECT_ID ( 'MIGRATE_COORELATED_NAME', 'P' ) IS NOT NULL 
    DROP PROCEDURE MIGRATE_COORELATED_NAME;
GO
CREATE PROCEDURE MIGRATE_COORELATED_NAME
AS
		DECLARE @theId NVARCHAR(32);
		DECLARE @theName NVARCHAR(250);
		DECLARE cur1 CURSOR FOR (SELECT RESOURCE_ID, NAME FROM AUTH_PROVIDER WHERE RESOURCE_ID IS NOT NULL);
		OPEN cur1;
		
		FETCH NEXT FROM cur1 INTO @theId, @theName;
		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF (@theId IS NOT NULL AND @theName IS NOT NULL) 
			BEGIN
				UPDATE RES SET COORELATED_NAME=@theName WHERE RESOURCE_ID=@theId;
			END;
		END; 
		CLOSE cur1;
GO

EXECUTE  MIGRATE_COORELATED_NAME;




IF OBJECT_ID ( 'MIGRATE_COORELATED_NAME', 'P' ) IS NOT NULL 
    DROP PROCEDURE MIGRATE_COORELATED_NAME;
GO
CREATE PROCEDURE MIGRATE_COORELATED_NAME
AS
		DECLARE @theId NVARCHAR(32);
		DECLARE @theName NVARCHAR(250);
		DECLARE cur2 CURSOR FOR (SELECT ADMIN_RESOURCE_ID, COMPANY_NAME FROM COMPANY WHERE ADMIN_RESOURCE_ID IS NOT NULL);
		OPEN cur2;
		
		FETCH NEXT FROM cur2 INTO @theId, @theName;
		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF (@theId IS NOT NULL AND @theName IS NOT NULL) 
			BEGIN
				UPDATE RES SET COORELATED_NAME=@theName WHERE RESOURCE_ID=@theId;
			END;
		END; 
		CLOSE cur2;
GO

EXECUTE  MIGRATE_COORELATED_NAME;


IF OBJECT_ID ( 'MIGRATE_COORELATED_NAME', 'P' ) IS NOT NULL 
    DROP PROCEDURE MIGRATE_COORELATED_NAME;
GO
CREATE PROCEDURE MIGRATE_COORELATED_NAME
AS
		DECLARE @theId NVARCHAR(32);
		DECLARE @theName NVARCHAR(250);
		DECLARE cur3 CURSOR FOR (SELECT RESOURCE_ID, CONTENT_PROVIDER_NAME FROM CONTENT_PROVIDER WHERE RESOURCE_ID IS NOT NULL);
		OPEN cur3;
		
		FETCH NEXT FROM cur3 INTO @theId, @theName;
		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF (@theId IS NOT NULL AND @theName IS NOT NULL) 
			BEGIN
				UPDATE RES SET COORELATED_NAME=@theName WHERE RESOURCE_ID=@theId;
			END;
		END; 
		CLOSE cur3;
GO

EXECUTE  MIGRATE_COORELATED_NAME;


IF OBJECT_ID ( 'MIGRATE_COORELATED_NAME', 'P' ) IS NOT NULL 
    DROP PROCEDURE MIGRATE_COORELATED_NAME;
GO
CREATE PROCEDURE MIGRATE_COORELATED_NAME
AS
		DECLARE @theId NVARCHAR(32);
		DECLARE @theName NVARCHAR(250);
		DECLARE cur4 CURSOR FOR (SELECT ADMIN_RESOURCE_ID, GRP_NAME FROM GRP WHERE ADMIN_RESOURCE_ID IS NOT NULL);
		OPEN cur4;
		
		FETCH NEXT FROM cur4 INTO @theId, @theName;
		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF (@theId IS NOT NULL AND @theName IS NOT NULL) 
			BEGIN
				UPDATE RES SET COORELATED_NAME=@theName WHERE RESOURCE_ID=@theId;
			END;
		END; 
		CLOSE cur4;
GO

EXECUTE  MIGRATE_COORELATED_NAME;

IF OBJECT_ID ( 'MIGRATE_COORELATED_NAME', 'P' ) IS NOT NULL 
    DROP PROCEDURE MIGRATE_COORELATED_NAME;
GO
CREATE PROCEDURE MIGRATE_COORELATED_NAME
AS
		DECLARE @theId NVARCHAR(32);
		DECLARE @theName NVARCHAR(250);
		DECLARE cur5 CURSOR FOR (SELECT RESOURCE_ID, ATTRIBUTE_NAME FROM METADATA_ELEMENT WHERE RESOURCE_ID IS NOT NULL);
		OPEN cur5;
		
		FETCH NEXT FROM cur5 INTO @theId, @theName;
		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF (@theId IS NOT NULL AND @theName IS NOT NULL) 
			BEGIN
				UPDATE RES SET COORELATED_NAME=@theName WHERE RESOURCE_ID=@theId;
			END;
		END; 
		CLOSE cur5;
GO

EXECUTE  MIGRATE_COORELATED_NAME;

IF OBJECT_ID ( 'MIGRATE_COORELATED_NAME', 'P' ) IS NOT NULL 
    DROP PROCEDURE MIGRATE_COORELATED_NAME;
GO
CREATE PROCEDURE MIGRATE_COORELATED_NAME
AS
		DECLARE @theId NVARCHAR(32);
		DECLARE @theName NVARCHAR(250);
		DECLARE cur6 CURSOR FOR (SELECT RESOURCE_ID, NAME FROM METADATA_ELEMENT_PAGE_TEMPLATE WHERE RESOURCE_ID IS NOT NULL);
		OPEN cur6;
		
		FETCH NEXT FROM cur6 INTO @theId, @theName;
		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF (@theId IS NOT NULL AND @theName IS NOT NULL) 
			BEGIN
				UPDATE RES SET COORELATED_NAME=@theName WHERE RESOURCE_ID=@theId;
			END;
		END; 
		CLOSE cur6;
GO

EXECUTE  MIGRATE_COORELATED_NAME;

IF OBJECT_ID ( 'MIGRATE_COORELATED_NAME', 'P' ) IS NOT NULL 
    DROP PROCEDURE MIGRATE_COORELATED_NAME;
GO
CREATE PROCEDURE MIGRATE_COORELATED_NAME
AS
		DECLARE @theId NVARCHAR(32);
		DECLARE @theName NVARCHAR(250);
		DECLARE cur7 CURSOR FOR (SELECT ADMIN_RESOURCE_ID, ROLE_NAME FROM ROLE WHERE ADMIN_RESOURCE_ID IS NOT NULL);
		OPEN cur7;
		
		FETCH NEXT FROM cur7 INTO @theId, @theName;
		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF (@theId IS NOT NULL AND @theName IS NOT NULL) 
			BEGIN
				UPDATE RES SET COORELATED_NAME=@theName WHERE RESOURCE_ID=@theId;
			END;
		END; 
		CLOSE cur7;
GO

EXECUTE  MIGRATE_COORELATED_NAME;

ALTER TABLE RECONCILIATION_CONFIG ADD PRE_PROCESSOR NVARCHAR(255) NULL DEFAULT NULL; 
ALTER TABLE RECONCILIATION_CONFIG ADD POST_PROCESSOR NVARCHAR(255) NULL DEFAULT NULL; 


IF OBJECT_ID ( 'MIGRATE_COORELATED_NAME', 'P' ) IS NOT NULL 
    DROP PROCEDURE MIGRATE_COORELATED_NAME;
GO
CREATE PROCEDURE MIGRATE_COORELATED_NAME
AS
		DECLARE @theId NVARCHAR(32);
		DECLARE @theName NVARCHAR(250);
		DECLARE cur8 CURSOR FOR (SELECT RESOURCE_ID, PATTERN FROM URI_PATTERN WHERE RESOURCE_ID IS NOT NULL);
		OPEN cur8;
		
		FETCH NEXT FROM cur8 INTO @theId, @theName;
		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF (@theId IS NOT NULL AND @theName IS NOT NULL) 
			BEGIN
				UPDATE RES SET COORELATED_NAME=@theName WHERE RESOURCE_ID=@theId;
			END;
		END; 
		CLOSE cur8;
GO

EXECUTE  MIGRATE_COORELATED_NAME;

IF OBJECT_ID ( 'MIGRATE_COORELATED_NAME', 'P' ) IS NOT NULL 
    DROP PROCEDURE MIGRATE_COORELATED_NAME;
GO





 		

